<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div class="top-banner">
            <img class="top-iconleft" src="/img/setting.png">
            <img src="https://assets.gfycat.com/web/38571720/images/desktop/gfycat_logo.svg" class="logo">
            <img class="top-iconright" src="/img/share.png">
        </div>
        <div class="cardcontainer list">
          <ul class="cardlist">
          </ul>
          <button class="but-nope"></button>
          <button class="but-yay"></button>
        </div>
    </body>
</html>
