<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <script src="static/script.js"></script>
    </head>
    <body>
        <img src="https://assets.gfycat.com/web/38571720/images/desktop/gfycat_logo.svg" class="logo">

        <div class="cardcontainer list">
          <ul class="cardlist">
              <li class="card current">
                            <div class="image_container" style="background-image: url('https://slack-imgs.com/?c=1&url=https%3A%2F%2Fthumbs.gfycat.com%2FGlamorousWindingAfricanclawedfrog-small.gif')">
                            </div>
                        <div class="content_container">
                            <span class="s_name">Name</span>
                            <span class="s_category">Category</span>
                            <span class="s_description">Description</span>
                        </div>
              </li>
          </ul>
          <button class="but-nope"></button>
          <button class="but-yay"></button>
        </div>
    </body>
</html>
