<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <script src="static/script.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    </head>
    <body>
        <div id="overlay">
          <img src="static/img/bronze.png" class="title_badge">
          <div class="badge"></div>
        </div>
        <div class="top-banner">
            <img class="top-iconleft" src="static/img/setting.png">
            <img src="https://assets.gfycat.com/web/38571720/images/desktop/gfycat_logo.svg" class="logo">
            <img class="top-iconright" src="static/img/share.png">
        </div>
        <div class="cardcontainer list">
          <ul class="cardlist">
          </ul>
          <button class="but-nope"></button>
          <button class="but-yay"></button>
          <img src="/static/img/bookmark.png" class="bookmark">
          <img src="/static/img/share3.png" class="share">
        </div>
    </body>
</html>
